*,
*:before,
*:after {
	box-sizing: border-box;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	border: 0;
}

body {
	width: 100%;
	height: 100%;
	background-color: #605e5e;
}
.wrapper {
	height: 500px;
}

@keyframes  moveSwordBlue {
	50% {
	transform: translateX(-10px) rotate(-30deg) skewX(20deg);
	}
	75% {
	 transform: translateX(30px) rotate(45deg); 
	}
	100% {
	 transform: translateX(30px) rotate(45deg); 
	}
}
@keyframes  moveSwordRed {
	50% {
	transform: translateX(-10px) rotate(30deg) skewX(-20deg);
	}
	75% {
	 transform: translateX(-30px) rotate(-45deg); 
	}
	100% {
	 transform: translateX(-30px) rotate(-45deg); 
	}
}

@keyframes sparkA {
	18.9% {
		opacity: 0;
	}
	19% {
		transform: translate(0);
		opacity: 1
	}
	40% {
		transform: translate(50px, -40px);
		opacity: 0;
	}
	68.9% {
		opacity: 0;
	}
	69% {
		transform: translate(0);
		opacity: 1
	}
	90% {
		transform: translate(20px, -80px);
		opacity: 0;
	}

}

@keyframes sparkB {
	18.9% {
		opacity: 0;
	}
	19% {
		transform: translate(0);
		opacity: 1
	}
	40% {
		transform: translate(-100px, 20px);
		opacity: 0;
	}
	68.9% {
		opacity: 0;
	}
	69% {
		transform: translate(0);
		opacity: 1
	}
	90% {
		transform: translate(-60px, 40px);
		opacity: 0;
	}
	

}

.star_wars {
	position: relative;
	margin: 50px auto;
	width: 100px;
	height: 100px;
}
.spark {
	position:relative;
}
.spark:before,
.spark:after {
	content: '';
	position: absolute;
	top: 42px;
	left: 50px;
	height:2px;
	width: 2px;
	background-color: #fff;
	opacity: 0;
	z-index: 2;
}
.star_wars:hover .spark:before {
	animation: sparkA 4s ease-out infinite;
} 
.star_wars:hover .spark:after {
	animation: sparkB 4s ease-out infinite;
}


.sword1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 5px;
	height: 80px;
	background: linear-gradient(to top, #a8a8a8 0%,#a8a8a8 28%,#27a5f9 28%,#27a5f9 100%);
	border-radius:  40% 40% 0 0;
}
.sword1:before,
.sword1:after,
.sword2:before,
.sword2:after {
	content: '';
	position: absolute;
	width: 7px;
	height: 2px;
	background-color: #fff;
	top: 100%;
	left: -1px;
	border-radius: 1px;
}
.sword1:before,
 .sword2:before {
	top: 70%;
}

.star_wars:hover .sword1 {
	animation: moveSwordBlue 1s ease-in infinite alternate;
}

.sword2 {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 5px;
	height: 80px;
	background: linear-gradient(to top, #a8a8a8 0%,#a8a8a8 28%, #FF282C 28%,#FF282C 100%);
	border-radius: 40% 40% 0 0;
}

.star_wars:hover .sword2 {
	animation: moveSwordRed 1s ease-in infinite alternate;
}



	
	


